<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>electron-vue</title>
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/IconFont/iconfont.css">
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
    <!-- webpack builds are automatically injected -->
    <script src="static/aws.s3.js"></script>
  </body>
</html>
